.card-body-custom {
    max-height: 160px; /* Adjust this value to set the desired height */
    overflow: hidden;
  }

  .view-more-link {
    color: #007bff; /* Customize the color as needed */
    text-decoration: none; /* Remove underline */
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .view-more-link:hover {
    text-decoration: none; /* Ensure no underline on hover */
  }
  
  .view-more-icon {
    margin-left: 8px; /* Adjust the value as needed for the gap */
  }
  
  .card-body-custom {
    padding: 0.5rem;
  }
  
  